streamlit==1.40.0
streamlit-option-menu==0.4.0
load-dotenv==0.1.0
python-dotenv==0.21.0
plotly==5.9.0
tenacity>=6.2.0
unidecode==1.2.0
openpyxl==3.0.10
et_xmlfile==1.1.0
pandas==2.2.3
python-dateutil>=2.8.2
pytz>=2020.1
tzdata>=2022.1
numpy>=1.21.0
six>=1.5
